.picture{
  width : 500px;
  height : 180px;
  margin : 0 auto;
  padding : 100px 150px 0 0;
  text-align: center;
  box-sizing: border-box;
}
.font{
  font-size : 24px;
}
.block{
  width : 500px;
  height : 300px;
  margin : 0 auto;
  box-sizing: border-box;
}

